<ul class="lights">
  <%= for light <- @lights do %>
    <li class="light" style=<%="background-color:#{light.color}"%> data-cpuid=<%=light.cpuid%>>
      <div class="outer-div" >
        <div class="username">
          <p><%= String.upcase(light.slack_handle)%></p>
        </div>
      </div>
    </li>
  <% end %>
</ul>

