<ul class="lights">
  <%= for light <- @lights do %>
    <li>
      <div class="outer-div" style=<%="background-color:#{light.color}"%>>
        <div class="username">
          <%= light.color %>
          <%= light.slack_handle %>
        </div>
      </div>
    </li>
  <% end %>
</ul>

